/* variables */
:root {
--color-white: #FFF;
--color-black: #000;
--color-1: #F26425;
--color-2: #FAA51A;
--color-3: #FFF200;
--color-gray-1: #C0C0C0;
--color-gray-2: #A9A9A9;
--color-gray-3: #808080;
--color-gray-4: #696969;
--color-dark: #444444;
--color-clear: whitesmoke;
--border-radius: 5px;
}
/* wireframe */
* {
  /* outline: 1px solid lime; */
}
/*  */
/* overrides */
div {
  height: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
}
a {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 5px !important;
}
button {
  background-color: var(--color-2) !important;
  border-radius: 5px !important;
}

.ha {
  height: auto;
}
.main-content {
  padding-top: 33px;
}
/* menu */
.logo a {
  display: inline;
}
.navbar-wrap {
  background: black !important;
}
.menu-transparent .navbar.top-nav-collapse {
    background: #fff !important;
}
/* menu socios */
#hero-menu, #hero-menu-grid {
  padding: 0;
  margin: 0;
}
.hero-menu-item {
  height: 180px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.hero-menu-item a {
  border-radius: 0px !important;
  color: var(--color-white);
  font-size: 2em;
  padding: 0;
}
.hero-menu-item a:hover,
.hero-menu-item a:focus {
  background-color: var(--color-2) !important;
  color: var(--color-clear);
}
.hero-menu-item-txt {
  padding-top: 38px;
}
/* home about */
#home-about {
  padding-top: 0 !important;
}
/* home news */
#news-section {
  background-color: var(--color-1) !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
#news-section .vc_gitem-is-link {
  height: 280px;
  border-radius: 5px;
}
.vc_btn3-container a {
  background-color: var(--color-2) !important;
}
.vc_btn3-container {
  margin-bottom: 0 !important;
}
.vc_btn3-container a.vc_gitem-link {
  color: var(--color-clear) !important;
  background-color: var(--color-2) !important;
  border: 0;
}
.vc_btn3-container a.vc_gitem-link:hover,
.vc_btn3-container a.vc_gitem-link:focus {
  color: var(--color-clear) !important;
  background-color: var(--color-1) !important;
  border: 0;
}
.hi-icon-effect .hi-icon {
    color: var(--color-2) !important;
  }
#news-section .vc_grid-item-mini,
#home-events .vc_grid-item-mini {
  background-color: var(--color-clear);
  border-radius: var(--border-radius) !important;
  box-shadow: 2px 2px 4px var(--color-dark);
  padding: 16px !important;
  color: var(--color-dark);
}
.vc_row.wpb_row.vc_row-fluid.news-section .promo-block {
  color: var(--color-white);
}

/* blog */
article.post-set {
  background-color: var(--color-clear);
  border-radius: var(--border-radius) !important;
  box-shadow: 2px 2px 4px var(--color-dark);
  padding: 16px !important;
}
/* home events */
#home-events {
  color: var(--color-clear);
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: var(--color-2) !important;
}
#home-eventos-grid {

}
#home-eventos-grid.vc_row.vc_column-gap-20 {
    margin-left: 0;
    margin-right: 0;
}
/* social */
.vc_icon_element-link {
  box-shadow: 2px 2px 2px #cacaca
}
#face-feed {
  /* overflow-y: scroll; */
  max-height: 100%;
  /* min-height: 500px; */
}
/* banners */
#banner-grid {
  padding: 0;
}
.banner {
  height: 180px;
}
/* footer */
.footer-widget {
  text-align: center;
}
.footer-area-cont {
  min-height: auto;
}
.footer-copyright {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
/*  */
.universal_popular_widget_post_holder {
    margin-bottom: 16px;
    padding: 8px;
}
.vc_btn3 {
  width: auto;
}
/* responsivos */
