* {
  outline: 1px solid lime;
}
/* override */
div {
  height: 100%;
}
/* menu */
.navbar-wrap {
  background: black !important;
}
.menu-transparent .navbar.top-nav-collapse {
    background: #fff !important;
}

/* banners */

.banner {
  height: 150px;
}
